[project]
	description = A minimal TypeScript/React/Go starter kit
[access]
	inheritFrom = Private-Projects
[access "refs/*"]
	owner = group user/☠ (damienstanton)
[access "refs/for/refs/*"]
	read = group user/☠ (damienstanton)
	push = group user/☠ (damienstanton)
	label-Code-Review = -2..+2 group user/☠ (damienstanton)
	label-Verified = -1..+1 group user/☠ (damienstanton)
	rebase = group user/☠ (damienstanton)
	removeReviewer = group user/☠ (damienstanton)
	submit = group user/☠ (damienstanton)
[access "refs/heads/*"]
	read = group user/☠ (damienstanton)
	create = group user/☠ (damienstanton)
	push = +force group user/☠ (damienstanton)
	pushMerge = group user/☠ (damienstanton)
[access "refs/tags/*"]
	push = +force group user/☠ (damienstanton)
	pushTag = group user/☠ (damienstanton)
	pushSignedTag = group user/☠ (damienstanton)
